<title><%= full_title(yield(:title)) %></title>
  <div class="center jumbotron">

  <style>
    img {
      float: left;
    }
  </style>

    <div align="left">
      <%= image_tag("borb.png") %>
    </div>
    <div style="clear:left">
      <h1>About</h1>
      </br>
      </br>
      <p>
        Twitterpated is a project using Twitter's API to retrieve tweet
        statistics for a selected term each week.
      </p>
    </div>

  </div>
