<div class="center jumbotron">

<style>
  img {
    float: left;
  }
</style>

  <div align="left">
    <%= image_tag("borb.png") %>
  </div>
  <div style="clear:left">
    <h1>The Authors</h1>
    </br>
    </br>
    <p><b>Joshua Albright</b></p>
    <p><a href="https://github.com/jdgenes">https://github.com/jdgenes</a></p>
    </br>
    </br>
    <p><b>Eric Magers</b></p>
    <p><a href="https://github.com/Roastern">https://github.com/Roastern</a></p>
  </div>
</div>
