<div class="center jumbotron">
<style>
  img {
    float: left;
  }
</style>

  <div align="left">
    <%= image_tag("borb.png") %>
  </div>

  <div style="clear:left">

    <h1> Twitterpated </h1>
    </br>
    <p>
      Curious about how often something is tweeted about?
      </br>
      </br>
      <%= link_to "Check out the tweets!", tweets_index_path, class: "btn btn-lg btn-primary" %>
    </p>
  </div>

</div>
