<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Twitterpated",static_pages_home_path , id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About Twitterpated",   static_pages_about_path %></li>
        <li><%= link_to "Tweets",   tweets_index_path %></li>
      </ul>
    </nav>
  </div>
</header>
